body {
	background-color: rgb(214, 207, 207);
  }
  
  h1 {
	color: rgb(2, 2, 7);
	margin-left: 20px;
  }
  

  img {
	border-radius: 50%;
  }
  .flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(1, 14, 22);
}
 .flex-container {
	display: flex;
 }
.flex-item {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(1, 14, 22);
}

.flex-container {
	display: flex;
 }
.flex-item {
	display: flex;
	flex-direction: column;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(1, 14, 22);
}
